<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 info-footer">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <h3>About</h3>
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">News & Stories</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">History</a> </li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Our Studio</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Stockists</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <h3>Customer sevices</h3>
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Contact Us</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Trade Services</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Login/Register</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Delivery & Returns</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <h3>Store</h3>
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Wedding</a></li>
                        <li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Holiday</a></li>
                        
                    </ul>
                </div>
                <div class="social-text"><span id="text-connect">CONNECT WITH US:</span>
                    <span class="social"><a href="#" id="instar"></a><a href="#" id="fb"></a><a href="#" id="tw"></a><a href="#" id="sky"></a></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 new-letter">
                <div class="form-new">
                    <h1>Newsletter</h1>
                <p>Sign up for our mailing list to get lastest updates and offers</p>
                <form class="form-group">
                    <input type="text" name="input-mail" placeholder="Your mail here" class="form-control input-lg">
                    <button type="submit">Subscribe</button>
                </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-logo">
        <div class="row footer-row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="#" class="logo-bot"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cop">
                <span>Copyright</span><i class="far fa-copyright"></i><span>2018 by EngoTheme</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span id="gmail-footer"><a href="#">E: Jenstore@gmail.com</a></span>
            </div>
        </div>
    </div>
    <div class="hidden-lg hidden-md back-to-top fade"><i class="fas fa-caret-up"></i></div>
    <div class="BG-menu"></div>
    <!-- Modal quick view -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                      <div class="modal-dialog">
                                    
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            
                                          </div>
                                          <div class="modal-body">
                                           <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div id="img-pill-1" class="tab-pane fade in active">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 title-quick">
                                <figure class="fi-quick"><h1>QUICK VIEW</h1></figure>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <img src="img/340x420.png" class="img-responsive" alt="holiwood">
                            </div>
                        </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 detail">
                                  <h1>Queen Rose - Pink</h1>
                                <p class="p1">It is a long established fact that a reader will be distracted  by the readable content of a page when looking at its layout.</p>
                                <div class="star">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <span>10 Rating(s) | Add Your Rating</span>
                                </div>
                                <div class="prince"><span>$250.9</span><s class="strike">$300.02</s></div>
                                <figure class="fi-option"><p class="option">Option</p></figure>
                                <div class="size">
                                    <span class="lb-size">Size <span class="sta-red">*</span></span><span class="lb-color">Color <span class="sta-red">*</span></span>
                                </div>
                                <div class="select-custom">
                                    <select>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                    </select>
                                    <a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a> <a href="#"><span class="color-4"></span></a> 
                                    <p class="require">Required Fields <span>*</span></p>
                                    <div class="Quality">
                                        
                                        <div class="input-group input-number-group">
                                            <span class="text-qua">Quanty:</span>
                                              <div class="input-group-button">
                                                <span class="input-number-decrement">-</span>
                                              </div>
                                              <input class="input-number" type="number" min="0" max="1000" value="01" >
                                              <div class="input-group-button">
                                                <span class="input-number-increment">+</span>
                                              </div>
                                              <span class="dola">$ </span><span class="total">250.9</span>
                                        </div>
                                        
                                    </div>
                                    <div class="add-cart">
                                        <a href="#" class="btn-add-cart">Add to cart</a>
                                        <a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
                                        <a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                              </div>
                    </div>
                    <div id="img-pill-2" class="tab-pane fade">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 title-quick">
                                <figure class="fi-quick"><h1>QUICK VIEW</h1></figure>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <img src="img/340x420.png" class="img-responsive" alt="holiwood">
                            </div>
                        </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 detail">
                                  <h1>Queen Rose</h1>
                                <p class="p1">It is a long established fact that a reader will be distracted  by the readable content of a page when looking at its layout.</p>
                                <div class="star">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <span>10 Rating(s) | Add Your Rating</span>
                                </div>
                                <div class="prince"><span>$300.02</span><s class="strike">$250.9</s></div>
                                <figure class="fi-option"><p class="option">Option</p></figure>
                                <div class="size">
                                    <span class="lb-size">Size <span class="sta-red">*</span></span><span class="lb-color">Color <span class="sta-red">*</span></span>
                                </div>
                                <div class="select-custom">
                                    <select>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                    </select>
                                    <a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a> <a href="#"><span class="color-4"></span></a> 
                                    <p class="require">Required Fields <span>*</span></p>
                                    <div class="Quality">
                                        
                                        <div class="input-group input-number-group">
                                            <span class="text-qua">Quanty:</span>
                                              <div class="input-group-button">
                                                <span class="input-number-decrement">-</span>
                                              </div>
                                              <input class="input-number" type="number" min="0" max="1000" value="01" >
                                              <div class="input-group-button">
                                                <span class="input-number-increment">+</span>
                                              </div>
                                              <span class="dola">$ </span><span class="total">250.9</span>
                                        </div>
                                        
                                    </div>
                                    <div class="add-cart">
                                        <a href="#" class="btn-add-cart">Add to cart</a>
                                        <a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
                                        <a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                              </div>	
                    </div>
                    <div id="img-pill-3" class="tab-pane fade">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 title-quick">
                                <figure class="fi-quick"><h1>QUICK VIEW</h1></figure>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <img src="img/340x420.png" class="img-responsive" alt="holiwood">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 detail">
                                  <h1>Lavender</h1>
                                <p class="p1">It is a long established fact that a reader will be distracted  by the readable content of a page when looking at its layout.</p>
                                <div class="star">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <span>10 Rating(s) | Add Your Rating</span>
                                </div>
                                <div class="prince"><span>$300.02</span><s class="strike">$250.9</s></div>
                                <figure class="fi-option"><p class="option">Option</p></figure>
                                <div class="size">
                                    <span class="lb-size">Size <span class="sta-red">*</span></span><span class="lb-color">Color <span class="sta-red">*</span></span>
                                </div>
                                <div class="select-custom">
                                    <select>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                    </select>
                                    <a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a> <a href="#"><span class="color-4"></span></a> 
                                    <p class="require">Required Fields <span>*</span></p>
                                    <div class="Quality">
                                        
                                        <div class="input-group input-number-group">
                                            <span class="text-qua">Quanty:</span>
                                              <div class="input-group-button">
                                                <span class="input-number-decrement">-</span>
                                              </div>
                                              <input class="input-number" type="number" min="0" max="1000" value="01" >
                                              <div class="input-group-button">
                                                <span class="input-number-increment">+</span>
                                              </div>
                                              <span class="dola">$ </span><span class="total">250.9</span>
                                        </div>
                                        
                                    </div>
                                    <div class="add-cart">
                                        <a href="#" class="btn-add-cart">Add to cart</a>
                                        <a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
                                        <a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                              </div>
                             
                    </div>
                    <div id="img-pill-4" class="tab-pane fade">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 title-quick">
                                <figure class="fi-quick"><h1>QUICK VIEW</h1></figure>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <img src="img/340x420.png" class="img-responsive" alt="holiwood">
                            </div>
                        </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 detail">
                                  <h1>Queen Rose - Yellow</h1>
                                <p class="p1">It is a long established fact that a reader will be distracted  by the readable content of a page when looking at its layout.</p>
                                <div class="star">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    <span>10 Rating(s) | Add Your Rating</span>
                                </div>
                                <div class="prince"><span>$300.02</span><s class="strike">$250.9</s></div>
                                <figure class="fi-option"><p class="option">Option</p></figure>
                                <div class="size">
                                    <span class="lb-size">Size <span class="sta-red">*</span></span><span class="lb-color">Color <span class="sta-red">*</span></span>
                                </div>
                                <div class="select-custom">
                                    <select>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                    </select>
                                    <a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a> <a href="#"><span class="color-4"></span></a> 
                                    <p class="require">Required Fields <span>*</span></p>
                                    <div class="Quality">
                                        
                                        <div class="input-group input-number-group">
                                            <span class="text-qua">Quanty:</span>
                                              <div class="input-group-button">
                                                <span class="input-number-decrement">-</span>
                                              </div>
                                              <input class="input-number" type="number" min="0" max="1000" value="01" >
                                              <div class="input-group-button">
                                                <span class="input-number-increment">+</span>
                                              </div>
                                              <span class="dola">$ </span><span class="total">250.9</span>
                                        </div>
                                        
                                    </div>
                                    <div class="add-cart">
                                        <a href="#" class="btn-add-cart">Add to cart</a>
                                        <a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
                                        <a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                              </div>	
                    </div>
                    </div>
                    <ul class="nav nav-pills col-lg-6 col-md-6 col-sm-6 col-xs-12 img-pill">
                      <li class="active col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="pill" href="#img-pill-1"><img src="img/340x420.png" class="img-responsive" alt="holiwood"></a></li>
                      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="pill" href="#img-pill-2"><img src="img/340x420.png" class="img-responsive" alt="holiwood"></a></li>
                      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="pill" href="#img-pill-3"><img src="img/340x420.png" class="img-responsive" alt="holiwood"></a></li>
                      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a data-toggle="pill" href="#img-pill-4"><img src="img/340x420.png" class="img-responsive" alt="holiwood"></a></li>
                    </ul>
                                          </div>
                                          
                                        </div>
                                    
                                      </div>
                                    </div>
    <!-- --------------------------- -->
    </footer>