<main>
    <div class="content-search">
    
                                <div class="container container-100">
                                    <i class="far fa-times-circle" id="close-search"></i>
                                    <h3 class="text-center">what are your looking for ?</h3>
                                    <form method="get" action="/search" role="search" style="position: relative;">
                                      <input type="text" class="form-control control-search" value="" autocomplete="off" placeholder="Enter Search ..." aria-label="SEARCH" name="q">
    
                                      <button class="button_search" type="submit">search</button>
                                    </form>
                                </div>
                                
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
    
    <div class="item active slide-1">
        <img src="../assets/img/header-wedding-invitation.webp" alt="img-holiwood">
        <div class="carousel-caption">
          <h3>EXPLORE THE</h3>
          <h1>New Arrivals</h1>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
          <img src="../assets/img/310x26.png" alt="img-holiwood"><br>
          <a href="#">Shop now</a>
        </div>
          
    </div>
    
    <div class="item slide-2">
        <img src="../assets/img/1920x1080.png" alt="img-holiwood">
        <div class="carousel-caption">
          <h3>A Ferfect</h3>
          <h1>Bouquet</h1>
          <div class="line"></div>
          <p>It is a long established fact that a reader will be distracted by the redable content of a page when looking at its latout</p>
          <a href="#">Shop now</a>
        </div>
      
    </div>
    
    <div class="item slide-1">
        <img src="../assets/img/1920x1080.png" alt="img-holiwood">
        <div class="carousel-caption">
          <h3>EXPLORE THE</h3>
          <h1>New Arrivals</h1>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
          <img src="../assets/img/310x26.png" alt="img-holiwood"><br>
          <a href="#">Shop now</a>
        </div>
          
    </div>
    
    <div class="item slide-2">
        <img src="../assets/img/1920x1080.png" alt="img-holiwood">
        <div class="carousel-caption">
          <h3>A Ferfect</h3>
          <h1>Bouquet</h1>
          <div class="line"></div>
          <p>It is a long established fact that a reader will be distracted by the redable content of a page when looking at its latout</p>
          <a href="#">Shop now</a>
        </div>
      
    </div>
    
    </div>
    </div>
    
 
    
    
    <div class="holiday" id="showcase-4">
        <div class="container">
              <div class="holiday p-0" style="padding: 0;" id="showcase-4">
    <div class="container">
        <h2 style="padding-top: 0; margin: 0;padding-bottom: 60px;"> What's your invitation style?</h2>
        <div class="gallery clearfix">
        <figure>
        <div class="row">
            
        
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner-holiday">
                <!-- <a href="#">
                    <div class="img-banner-holiday">
                        <img src="../assets/img/card.jfif" class="img-responsive" alt="img-holiwood">
                    </div>
                    <div class="card-block ">
                            <h3 class="css-cdnlv6 eg68plf3" style="font-size: 25px;padding-top: 30px;">Cards</h3> 
                        <div style="font-size: 18px;padding: 20px;">Classic stationery-inspired designs  </div>
                        <div>
                            <div class="css-lj71sk e3n96ec2"><svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path></svg>Elevate your event with curated envelopes and&nbsp;liners</div>
                            <div class="css-lj71sk e3n96ec2"><svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path></svg>Elevate your event with curated envelopes and&nbsp;liners</div>
                            <div class="css-lj71sk e3n96ec2"><svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path></svg>Elevate your event with curated envelopes and&nbsp;liners</div>
                            <div class="css-lj71sk e3n96ec2"><svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path></svg>Elevate your event with curated envelopes and&nbsp;liners</div>
                            <div class="css-lj71sk e3n96ec2"><svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path></svg>Elevate your event with curated envelopes and&nbsp;liners</div>
                        
                        </div>
                           </div>
                           <div class="css-1kmje5b eg68plf9"><button color="lapel" href="/online-invitations" type="DefaultButton" class="css-1exlwit eawzqpe0">Browse Cards</button></div>
                </a>  -->
                <div class="css-v5u8f2 eg68plf1">
                    <a href="/online-invitations" class="css-ofqe3s eg68plf2">
                        <div class="css-8atqhb eg68plf5">
                            <div class="css-7k90bz eg68plf6">
                                <div width="100%" height="15px" class="css-mbihee e222gj01">
                                    <svg class="eg68plf7 e222gj00 css-1kdrpy3 e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 20" preserveAspectRatio="xMinYMid slice">
                                        <path fill="#FFF" d="M0 0h1440v20H0z"></path>
                                        <g transform="translate(6 6)" fill="#CCC">
                                            <circle cx="4" cy="4" r="4"></circle>
                                            <circle cx="32" cy="4" r="4"></circle>
                                            <circle cx="18" cy="4" r="4"></circle>
                                        </g>
                                    </svg>
                                </div>
                                <div class="eg68plf8 video-container media--forced-aspect-ratio media--size-contain css-p17mjh e1rd5btd0">
                                    <div class="css-5xv2ev e1rd5btd1"></div>
                                    <span class="lazy-img"><img class="video-poster css-a6w e1rd5btd2" src="https://ssr-releases-cdn.paperlesspost.com/_next/static/images/CardsPoster-09d540c33e1b47e5c5b91bd0141a6ae8.jpg" /></span>
                           
                                </div>
                            </div>
                            <h3 class="css-cdnlv6 eg68plf3">Cards</h3>
                            <div class="css-1sbugnm eg68plf4"><div>Classic stationery-inspired&nbsp;designs</div></div>
                            <div class="e3n96ec4 css-gbgi5w e3n96ec0">
                                <div>
                                    <div class="css-lj71sk e3n96ec2">
                                        <svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path>
                                        </svg>
                                        Elevate your event with curated envelopes and&nbsp;liners
                                    </div>
                                </div>
                                <div>
                                    <div class="css-lj71sk e3n96ec2">
                                        <svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path>
                                        </svg>
                                        Sophisticated RSVP tracking and guest&nbsp;messaging
                                    </div>
                                </div>
                                <div>
                                    <div class="css-lj71sk e3n96ec2">
                                        <svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path>
                                        </svg>
                                        Exclusive partner collections only at Paperless&nbsp;Post
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="css-1kmje5b eg68plf9"><button color="lapel" href="/online-invitations" type="DefaultButton" class="css-1exlwit eawzqpe0">Browse Cards</button></div>
                    </a>
                </div>
                
                     </div>
        
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner-holiday">
                <div class="css-v5u8f2 eg68plf1">
                    <a href="/online-invitations" class="css-ofqe3s eg68plf2">
                        <div class="css-8atqhb eg68plf5">
                            <div class="css-7k90bz eg68plf6">
                                <div width="100%" height="15px" class="css-mbihee e222gj01">
                                    <svg class="eg68plf7 e222gj00 css-1kdrpy3 e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 20" preserveAspectRatio="xMinYMid slice">
                                        <path fill="#FFF" d="M0 0h1440v20H0z"></path>
                                        <g transform="translate(6 6)" fill="#CCC">
                                            <circle cx="4" cy="4" r="4"></circle>
                                            <circle cx="32" cy="4" r="4"></circle>
                                            <circle cx="18" cy="4" r="4"></circle>
                                        </g>
                                    </svg>
                                </div>
                                <div class="eg68plf8 video-container media--forced-aspect-ratio media--size-contain css-p17mjh e1rd5btd0">
                                    <div class="css-5xv2ev e1rd5btd1"></div>
                                    <span class="lazy-img"><img class="video-poster css-a6w e1rd5btd2" src="https://ssr-releases-cdn.paperlesspost.com/_next/static/images/CardsPoster-09d540c33e1b47e5c5b91bd0141a6ae8.jpg" /></span>
 
                                </div>
                            </div>
                            <h3 class="css-cdnlv6 eg68plf3">Flayers</h3>
                            <div class="css-1sbugnm eg68plf4"><div>Classic stationery-inspired&nbsp;designs</div></div>
                            <div class="e3n96ec4 css-gbgi5w e3n96ec0">
                                <div>
                                    <div class="css-lj71sk e3n96ec2">
                                        <svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path>
                                        </svg>
                                        Elevate your event with curated envelopes and&nbsp;liners
                                    </div>
                                </div>
                                <div>
                                    <div class="css-lj71sk e3n96ec2">
                                        <svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path>
                                        </svg>
                                        Sophisticated RSVP tracking and guest&nbsp;messaging
                                    </div>
                                </div>
                                <div>
                                    <div class="css-lj71sk e3n96ec2">
                                        <svg class="e3n96ec1 css-1ejnqpk e1d6ajs60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path fill="#333333" fill-rule="nonzero" clip-rule="evenodd" d="M10.55 16.934l8.6-9.2c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0l-8.3 8.8-3.3-3.8c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.6 4.1c.2.2.5.2.8.1z"></path>
                                        </svg>
                                        Exclusive partner collections only at Paperless&nbsp;Post
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="css-1kmje5b eg68plf9">
                            <button color="lapel" ruterLink="/online-invitations" type="DefaultButton" class="css-1exlwit eawzqpe0">Browse Cards</button></div>
                    </a>
                </div>
            </div>
        </div>
        </figure>
        </div>
    
    </div>
    </div> 
 
        
        </div>
        </div>
    
    <div class="container collection" id="showcase-2">
    <h1>Shop by collection</h1>
    <h2>- All Category of Jenstore -</h2>
    <div class="gallery clearfix">
    <figure>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner-collec">
    
            <img src="../assets/img/800x1132.png" class="img-responsive" alt="img-holiwood">
            <h3>HELLO SUMMER</h3>
            <h1>Sale 10%</h1>
            <a href="#">Shop now</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-collection">
                <div class="product-image-collec">
                    <figure class="hot"><a href="#"><img src="../assets/img/340.jpg" class="img-responsive" alt="img-holiwood"></a></figure>
                    <div class="product-icon-collec">
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="product-title-collec">
                    <h5><a href="#"> Pink roses</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                    <!-- <div class="prince">$207.2</div> -->
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-collection">
                <div class="product-image-collec">
                    <a href="#"><img src="../assets/img/340.jpg" class="img-responsive" alt="img-holiwood"></a>
                    <div class="product-icon-collec">
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="product-title-collec">
                    <h5><a href="#"> Eleganr by BloomNation</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <!-- <div class="prince">$115.4</div> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-collection">
                <div class="product-image-collec">
                    <a href="#"><img src="../assets/img/340.jpg" class="img-responsive" alt="img-holiwood"></a>
                    <div class="product-icon-collec">
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="product-title-collec">
                    <h5><a href="#">Queen Rose - Yellow</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                    <!-- <div class="prince">$250.6</div> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-collection">
                <div class="product-image-collec">
                    <figure class="sale"><a href="#"><img src="../assets/img/340.jpg" class="img-responsive" alt="img-holiwood"></a></figure>
                    <div class="product-icon-collec">
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="product-title-collec">
                    <h5><a href="#">Cottage Rose Bouquet</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                    <!-- <div class="prince">$100.9<s class="strike">$150.9</s></div> -->
                </div>
            </div>
        </div>
    </div>
    </figure>
    </div>
    </div>
 
    <div class="holiday" id="showcase-4">
    <div class="container">
        <h1>Holiday</h1>
        <h2>- Lorem Ipsum is<span class="hidden-xs"> simply dummy</span> text of the printing -</h2>
        <div class="gallery clearfix">
        <figure>
        <div class="row">
            
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-holiday">
                <div class="product-image-holiday">
                    <figure class="hot"><a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a></figure>
                    <div class="product-icon-holiday">
                        <a href="#"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
            </div>
            <div class="product-title-holiday">
                    <h5><a href="#">Fun & Flirty By BloomNation</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                    <div class="prince">$200.2</div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-holiday">
                <div class="product-image-holiday">
                    <a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a>
                    <div class="product-icon-holiday">
                        <a href="#"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
            </div>
            <div class="product-title-holiday">
                    <h5><a href="#">Winter White Bouquet</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <div class="prince">$240.2</div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-holiday">
                <div class="product-image-holiday">
                    <a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a>
                    <div class="product-icon-holiday">
                        <a href="#"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
            </div>
            <div class="product-title-holiday">
                    <h5><a href="#">Tulipa Floriade - Red</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                    <div class="prince">$105.7</div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 product-holiday">
                <div class="product-image-holiday">
                    <figure class="sale"><a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a></figure>
                    <div class="product-icon-holiday">
                        <a href="#"><i class="far fa-eye"></i></a>
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
            </div>
            <div class="product-title-holiday">
                    <h5><a href="#">West Palm Beach Florist</a></h5>
                    <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                    <div class="prince">$209.2<s class="strike">$180.9</s></div>
            </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner-holiday">
            <div class="img-banner-holiday">
                <img src="../assets/img/720x1050.png" class="img-responsive" alt="img-holiwood">
            </div>
            <div class="title-holiday">
                <h1>HAPPY MOTHER'S DAY</h1>
                <p>Lorem ipsum is simply dummy text of the printing and typesetting</p>
                <span id="sale30">-30</span><span id="pt">%</span><br><span id="off">OFF</span>
            </div>
            
        </div>
        </div>
        </figure>
        </div>
    
    </div>
    </div>
    <div class="count">
    <div class="img-count">
        <img src="../assets/img/1920x880.png" alt="img-holiwood">
    </div>
    <div class="title-count">
        <h1>Sale up to 40%</h1>
    <p>It is a long established facr that a reader will be distracted by the<br> readable content of a page when looking at its layout</p>
    <div id="countdown">
    <div id='tiles'></div>
        <ul class="labels">
            <li>Days</li>
            <li>Hours</li>
            <li>Mins</li>
            <li>Secs</li>
         </ul>
    </div>
    <a href="#">Shop now</a>
    </div>
    
    
    </div>
    <div class="brand container">
    <div class="row">
        <div class="brand-1 col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="brand-2 col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="brand-3 col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="brand-4 col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="brand-5 col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="brand-6 col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    </div>
    
    </div>
    <div class="container blog">
    <h1>Latest Blogs</h1>
    <p>- Lorem Ipsum is<span class="hidden-xs"> simply dummy</span> text of the printing -</p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-blog">
            <a href="#"><img src="../assets/img/440x360.png" class="img-responsive" title="img-blog" alt="img-holiwood"></a>
            <div class="time-blog">
                <span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
                <span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
            </div>
            <h2><a href="#">Choose for yourself the Flobal chiffon dress</a></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-blog">
            <a href="#"><img src="../assets/img/440x360.png" class="img-responsive" title="img-blog" alt="img-holiwood"></a>
            <div class="time-blog">
                <span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
                <span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
            </div>
            <h2><a href="#">Choose for yourself the Flobal chiffon dress</a></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-blog">
            <a href="#"><img src="../assets/img/440x360.png" class="img-responsive" title="img-blog" alt="img-holiwood"></a>
            <div class="time-blog">
                <span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
                <span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
            </div>
            <h2><a href="#">Choose for yourself the Flobal chiffon dress</a></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    
        </div>
    </div>
    </div>
    </main>