<main style="padding-top: 170px;">
	<div class="content-search">

                            <div class="container container-100">
                            	<i class="far fa-times-circle" id="close-search"></i>
                                <h3 class="text-center">what are your looking for ?</h3>
                                <form method="get" action="/search" role="search" style="position: relative;">
                                  <input type="text" class="form-control control-search" value="" autocomplete="off" placeholder="Enter Search ..." aria-label="SEARCH" name="q">

                                  <button class="button_search" type="submit">search</button>
                                </form>
                            </div>
                            
</div>
	<div class="container">
		<div class="menu-breadcrumb">
				<ul class="breadcrumb">
  					<li><a href="homev3.html">Home</a></li>
  					<li><a href="flower.html">FLOWER</a></li>
  					<li><a href="#">Queen Rose - Pink</a></li>
				</ul>
		</div>
	</div>
<div class="product-detail">
	

	<div class="container">
		
			<div class="row">
				<div class="slider-for">
					<div class="product-content">
						<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 img-content">
      							<img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood">
      					</div>
      						<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
      							<h1>Queen Rose - Pink</h1>
								<p class="p1">It is a long established fact that a reader will be distracted  by the readable<br class="hidden-md hidden-sm hidden-xs"> content of a page when looking at its layout.</p>
								<div class="star">
									<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
									<span>10 Rating(s) | Add Your Rating</span>
								</div>
								<div class="prince"><span>$250.9</span><s class="strike">$300.02</s></div>
								<figure class="fi-option"><p class="option">Option</p></figure>
								<div class="size col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<span class="lb-size">Size <span class="sta-red">*</span></span>
								<div class="select-custom">
									<select>
										<option>S</option>
										<option>M</option>
										<option>L</option>
										<option>XL</option>
									</select>
								</div>
								</div>
								<div class="color col-lg-8 col-md-6 col-sm-6 col-xs-12">
									<div class="div-color"><span class="lb-color">Color <span class="sta-red">*</span></span></div>
									<a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a>
									 <a href="#"><span class="color-4"></span></a> <a href="#"><span class="color-5"></span></a>
								</div>
									
									<p class="require">Required Fields <span>*</span></p>
									<div class="Quality">
										
										<div class="input-group input-number-group">
											<span class="text-qua">Quanty:</span>
											  <div class="input-group-button">
											    <span class="input-number-decrement">-</span>
											  </div>
											  <input class="input-number" type="number" min="0" max="1000" value="01" >
											  <div class="input-group-button">
											    <span class="input-number-increment">+</span>
											  </div>
											  <span class="dola">$ </span><span class="total-prince">250.9</span>
										</div>
										
									</div>
									<div class="add-cart">
										<a href="#" class="btn-add-cart">Add to cart</a>
										<a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
										<a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
									</div>
								
      						</div>
					</div>
					<!-- ------ end content 1----- -->
					<div class="product-content">
						<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 img-content">
      							<img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood">
      						</div>
      						<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
      							<h1>Queen Rose - Pink</h1>
								<p class="p1">It is a long established fact that a reader will be distracted  by the readable<br class="hidden-md hidden-sm hidden-xs"> content of a page when looking at its layout.</p>
								<div class="star">
									<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
									<span>10 Rating(s) | Add Your Rating</span>
								</div>
								<div class="prince"><span>$250.9</span><s class="strike">$300.02</s></div>
								<figure class="fi-option"><p class="option">Option</p></figure>
								<div class="size col-lg-4 col-md-6 col-sm-12 col-xs-12">
									<span class="lb-size">Size <span class="sta-red">*</span></span>
								<div class="select-custom">
									<select>
										<option>S</option>
										<option>M</option>
										<option>L</option>
										<option>XL</option>
									</select>
								</div>
								</div>
								<div class="color col-lg-8 col-md-6 col-sm-12 col-xs-12">
									<div class="div-color"><span class="lb-color">Color <span class="sta-red">*</span></span></div>
									<a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a>
									 <a href="#"><span class="color-4"></span></a> <a href="#"><span class="color-5"></span></a>
								</div>
									<p class="require">Required Fields <span>*</span></p>
									<div class="Quality">
										
										<div class="input-group input-number-group">
											<span class="text-qua">Quanty:</span>
											  <div class="input-group-button">
											    <span class="input-number-decrement">-</span>
											  </div>
											  <input class="input-number" type="number" min="0" max="1000" value="01" >
											  <div class="input-group-button">
											    <span class="input-number-increment">+</span>
											  </div>
											  <span class="dola">$ </span><span class="total-prince">250.9</span>
										</div>
										
									</div>
									<div class="add-cart">
										<a href="#" class="btn-add-cart">Add to cart</a>
										<a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
										<a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
									</div>
								
      						</div>
					</div>
					<!-- ------ end content 2----- -->
					<div class="product-content">
						<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 img-content">
      							<img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood">
      						</div>
      						<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
      							<h1>Queen Rose - Pink</h1>
								<p class="p1">It is a long established fact that a reader will be distracted  by the readable<br class="hidden-md hidden-sm hidden-xs"> content of a page when looking at its layout.</p>
								<div class="star">
									<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
									<span>10 Rating(s) | Add Your Rating</span>
								</div>
								<div class="prince"><span>$250.9</span><s class="strike">$300.02</s></div>
								<figure class="fi-option"><p class="option">Option</p></figure>
								<div class="size col-lg-4 col-md-6 col-sm-12 col-xs-12">
									<span class="lb-size">Size <span class="sta-red">*</span></span>
								<div class="select-custom">
									<select>
										<option>S</option>
										<option>M</option>
										<option>L</option>
										<option>XL</option>
									</select>
								</div>
								</div>
								<div class="color col-lg-8 col-md-6 col-sm-12 col-xs-12">
									<div class="div-color"><span class="lb-color">Color <span class="sta-red">*</span></span></div>
									<a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a>
									 <a href="#"><span class="color-4"></span></a> <a href="#"><span class="color-5"></span></a>
								</div>
									<p class="require">Required Fields <span>*</span></p>
									<div class="Quality">
										
										<div class="input-group input-number-group">
											<span class="text-qua">Quanty:</span>
											  <div class="input-group-button">
											    <span class="input-number-decrement">-</span>
											  </div>
											  <input class="input-number" type="number" min="0" max="1000" value="01" >
											  <div class="input-group-button">
											    <span class="input-number-increment">+</span>
											  </div>
											  <span class="dola">$ </span><span class="total-prince">250.9</span>
										</div>
										
									</div>
									<div class="add-cart">
										<a href="#" class="btn-add-cart">Add to cart</a>
										<a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
										<a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
									</div>
								
      						</div>
					</div>
					<!-- ------ end content 3----- -->
					<div class="product-content">
						<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 img-content">
      							<img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood">
      						</div>
      						<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 detail">
      							<h1>Queen Rose - Pink</h1>
								<p class="p1">It is a long established fact that a reader will be distracted  by the readable<br class="hidden-md hidden-sm hidden-xs"> content of a page when looking at its layout.</p>
								<div class="star">
									<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
									<span>10 Rating(s) | Add Your Rating</span>
								</div>
								<div class="prince"><span>$250.9</span><s class="strike">$300.02</s></div>
								<figure class="fi-option"><p class="option">Option</p></figure>
								<div class="size col-lg-4 col-md-6 col-sm-12 col-xs-12">
									<span class="lb-size">Size <span class="sta-red">*</span></span>
								<div class="select-custom">
									<select>
										<option>S</option>
										<option>M</option>
										<option>L</option>
										<option>XL</option>
									</select>
								</div>
								</div>
								<div class="color col-lg-8 col-md-6 col-sm-12 col-xs-12">
									<div class="div-color"><span class="lb-color">Color <span class="sta-red">*</span></span></div>
									<a href="#"><span class="color-1"></span></a> <a href="#"><span class="color-2"></span></a> <a href="#"><span class="color-3"></span></a>
									 <a href="#"><span class="color-4"></span></a> <a href="#"><span class="color-5"></span></a>
								</div>
									<p class="require">Required Fields <span>*</span></p>
									<div class="Quality">
										
										<div class="input-group input-number-group">
											<span class="text-qua">Quanty:</span>
											  <div class="input-group-button">
											    <span class="input-number-decrement">-</span>
											  </div>
											  <input class="input-number" type="number" min="0" max="1000" value="01" >
											  <div class="input-group-button">
											    <span class="input-number-increment">+</span>
											  </div>
											  <span class="dola">$ </span><span class="total-prince">250.9</span>
										</div>
										
									</div>
									<div class="add-cart">
										<a href="#" class="btn-add-cart">Add to cart</a>
										<a href="#" class="list-icon icon-1"><i class="far fa-eye"></i></a>
										<a href="#" class="list-icon icon-2"><i class="far fa-heart"></i></a>
									</div>
								
      						</div>
					</div>
					<!-- ------ end content 4----- -->
				</div>
				<div class="slider-nav col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></div>
					<div><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></div>
					<div><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></div>
					<div><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></div>
				</div>
  				
				<div class="col-lg-7 connect-us col-md-6 col-sm-12 col-xs-12">
					<a href="#" id="like-fb"></a>
					<a href="#" id="like-tw"></a>
					<a href="#" id="like-gg"></a>
					<a href="#" id="like-share"></a>
				</div>
			
				
			</div>
		
	</div>
	<div class="product-text">
		<div class="container">
			<ul class="nav nav-tabs menu-tab">
  				<li class="active"><a data-toggle="tab" href="#decription">Decription</a><figure id="fi-decription"></figure></li>
  				<li><a data-toggle="tab" href="#product-tag">Product Tags</a><figure id="fi-product-tag"></figure></li>
  				<li><a data-toggle="tab" href="#write">Write Your Own Review</a><figure id="fi-write"></figure></li>
  				<li><a data-toggle="tab" href="#addtional">Additional Information</a><figure id="fi-addtional"></figure></li>
			</ul>

			<div class="tab-content">
			  <div id="decription" class="tab-pane fade in active">
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
			    	<br><br>
Fusce aliquet, ante cursus gravida sagittis, justo erat rhoncus sapien, eget condimentum ligula magna sed est. Suspendisse molestie ligula tortor. Suspendisse vitae orci ac purus eleifend malesuada at vel tellus. Sed ac semper magna. Mauris consequat blandit risus. Cras dictum eros libero, a scelerisque quam laoreet non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra euismod felis, a eleifend magna.</p>
			  </div>
			  <div id="product-tag" class="tab-pane fade">
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
			    	<br><br>
Fusce aliquet, ante cursus gravida sagittis, justo erat rhoncus sapien, eget condimentum ligula magna sed est. Suspendisse molestie ligula tortor. Suspendisse vitae orci ac purus eleifend malesuada at vel tellus. Sed ac semper magna. Mauris consequat blandit risus. Cras dictum eros libero, a scelerisque quam laoreet non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra euismod felis, a eleifend magna.</p>
 			 </div>
			  <div id="write" class="tab-pane fade">
			   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
			    	<br><br>
Fusce aliquet, ante cursus gravida sagittis, justo erat rhoncus sapien, eget condimentum ligula magna sed est. Suspendisse molestie ligula tortor. Suspendisse vitae orci ac purus eleifend malesuada at vel tellus. Sed ac semper magna. Mauris consequat blandit risus. Cras dictum eros libero, a scelerisque quam laoreet non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra euismod felis, a eleifend magna.</p>
			  </div>
			  <div id="addtional" class="tab-pane fade">
			   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
			    	<br><br>
Fusce aliquet, ante cursus gravida sagittis, justo erat rhoncus sapien, eget condimentum ligula magna sed est. Suspendisse molestie ligula tortor. Suspendisse vitae orci ac purus eleifend malesuada at vel tellus. Sed ac semper magna. Mauris consequat blandit risus. Cras dictum eros libero, a scelerisque quam laoreet non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra euismod felis, a eleifend magna.</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="related">
		<div class="container">
			<h1>Related Products</h1>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
				<figure class="sale"><a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a></figure>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Queen Rose - Pink</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
					<div class="prince">$300.2<s class="strike">$250.9</s></div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
					<a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Bouquet Lavender</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
					<div class="prince">$160.8</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
				<figure class="hot"><a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a></figure>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Fun & Flirty By BloomNation</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
					<div class="prince">$200.7</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
					<a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Bouquet Rose</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
					<div class="prince">$350.4</div>
			</div>
		</div>
<!-- ------------------------------------------------ -->
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
				<a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Elegant by BloomNation</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
					<div class="prince">$300.2<s class="strike">$250.9</s></div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
					<figure class="hot"><a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a></figure>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Tulipa Floriade - Red</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
					<div class="prince">$160.8</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
				<a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Winter White Bouquet</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
					<div class="prince">$200.7</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-category">
			<div class="product-image-category">
					<figure class="hot"><a href="#"><img src="../assets/img/340x420.png" class="img-responsive" alt="img-holiwood"></a></figure>
					<div class="product-icon-category">
						<a href="#"><i class="far fa-eye"></i></a>
						<a href="#"><i class="fas fa-shopping-basket"></i></a>
						<a href="#"><i class="far fa-heart"></i></a>
					</div>
			</div>
			<div class="product-title-category">
					<h5><a href="#">Rose - Red</a></h5>
					<div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
					<div class="prince">$350.4</div>
			</div>
		</div>
		
			</div>
		</div>
		
	</div>
</div>
	
<div class="info-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<h3>About</h3>
					<ul>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">News & Stories</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">History</a> </li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Our Studio</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Stockists</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<h3>Customer sevices</h3>
					<ul>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Contact Us</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Trade Services</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Login/Register</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Delivery & Returns</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">FAQs</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<h3>Store</h3>
					<ul>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Wedding</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Birthday</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Women's day</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<h3>Shop collection</h3>
					<ul>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">New Arrivals</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Hot</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Sale</a></li>
						<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Deal of the day</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social">
				<p>CONNECT WITH US:</p>
				<a href="#" id="link-insta"></a>
				<a href="#" id="link-fb"></a>
				<a href="#" id="link-tw"></a>
				<a href="#" id="link-sky"></a>
				<h1>Newsletter</h1>
				<h2>Sign up for our mailing list to get latest updates and offers</h2>
				<form class="form-group" action="mail" method="post">
					<input type="text" name="input-mail" placeholder="Your mail here" class="input-lg">
					<button type="submit"><img src="../assets/img/Send.png" alt="img-holiwood"></button>
				</form>
			</div>
		</div>
	</div>
</div>
</main>